/* CSS GRID */

.title
  font-weight: bold
  font-size: 18px
  padding: 15px 0
.wrapper
  display: grid
  grid-template-columns: repeat(12, [col-start] 1fr)
  /* All have a start line named "col-start" */
  // grid-gap: 20px

.item1 
  grid-column: col-start / span 12
  @include bgcolor

.item2
  grid-column: col-start / span 1
  @include bgcolor

.item3
  grid-column: col-start / span 2
  @include bgcolor

.item4
  grid-column: col-start / span 3
  @include bgcolor

.item5
  grid-column: col-start / span 4
  @include bgcolor

.item6
  grid-column: col-start / span 5
  @include bgcolor

.item7
  grid-column: col-start / span 6
  @include bgcolor

.item8
  grid-column: col-start / span 7
  @include bgcolor

.item9
  grid-column: col-start / span 8
  @include bgcolor

.item10
  grid-column: col-start / span 9
  @include bgcolor

.item11
  grid-column: col-start / span 10
  @include bgcolor

.item12
  grid-column: col-start / span 11
  @include bgcolor

.item13
  grid-column: col-start / span 12
  @include bgcolor

.item14
  grid-column: col-start 2 / span 1
  @include bgcolor

.item15
  grid-column: col-start 2 / span 11
  @include bgcolor

.item16
  grid-column: col-start 3 / span 7
  @include bgcolor

.item17
  grid-column: col-start 1 / span 6
  @include bgcolor

.item18
  grid-column: col-start 7 / span 6
  @include bgcolor

.item19
  grid-column: col-start 1 / span 12
  text-align: center

.item20
  grid-column: col-start 6 / span 2
  text-align: center
  @include bgcolor

.item21
  grid-column: col-start 5 / span 4
  text-align: center
  @include bgcolor

.item22
  grid-column: col-start 4 / span 6
  text-align: center
  @include bgcolor

.item23
  grid-column: col-start 3 / span 8
  text-align: center
  @include bgcolor

.item24
  grid-column: col-start 2 / span 10
  text-align: center
  @include bgcolor

.item25
  grid-column: col-start 1 / span 4
  text-align: center
  @include bgcolor

.item26
  grid-column: col-start 5 / span 4
  text-align: center
  @include bgcolor

.item27
  grid-column: col-start 9 / span 4
  text-align: center
  @include bgcolor

.item28
  grid-column: col-start 1 / span 3
  text-align: center
  @include bgcolor

.item29
  grid-column: col-start 4 / span 3
  text-align: center
  @include bgcolor

.item30
  grid-column: col-start 7 / span 3
  text-align: center
  @include bgcolor

.item31
  grid-column: col-start 10 / span 3
  text-align: center
  @include bgcolor

