@import "partials/vars.sass"
@import "partials/mixins.sass"
@import "partials/base.sass"

.wrap
  width: 1170px
  margin: 0 auto
  background-color: red
.header
  grid-column: col-start / span 12
  background-color: $black
  height: 150px
  grid-row: 1 / 2
.header-inside
  display: flex
  
.logo 
  grid-column: col-start  3 / span 12
  grid-row: 1 / 2
  margin: 15px 0

.top-contact
  grid-column: col-start  6 / span 9
  grid-row: 1 / 2
  list-style-type: none
  margin-top: 48px
  li
    display: inline-block
    margin-right: 35px

.location
  border-left: 1px solid #ccc
  padding-left: 8px
  height: 35px
  font-size: 13px
  span
    text-transform: uppercase
    color: $yellow
    position: relative
    left: -11px
  &:before
    content: '\f041'
    font-family: 'FontAwesome'
    color: $yellow
    position: relative
    left: -30px
    top: 10px
    font-size: 16px
  p
    color: #ccc
    margin: 0
    padding: 0
    font-size: 12px 

.hours
  border-left: 1px solid #ccc
  padding-left: 8px
  height: 39px
  font-size: 13px
  span
    text-transform: uppercase
    color: $yellow
    position: relative
    left: -17px
  &:before
    content: '\f017'
    font-family: 'FontAwesome'
    color: $yellow
    position: relative
    left: -35px
    top: 8px
    font-size: 16px
  p
    color: #ccc
    margin: 0
    padding: 0
    font-size: 12px 

.phone
  border-left: 1px solid #ccc
  padding-left: 10px
  height: 35px
  font-size: 13px
  span
    text-transform: uppercase
    color: $yellow
    position: relative
    left: -14px
  &:before
    content: '\f095'
    font-family: 'FontAwesome'
    color: $yellow
    position: relative
    left: -35px
    top: 10px
    font-size: 16px
  p
    color: #ccc
    margin: 0
    padding: 0
    font-size: 12px 

.get-quote
  background-color: $yellow
  display: inline-block
  height: 50px
  line-height: 50px
  padding: 0 25px
  margin-left: 20px


.nav
  background-color: $yellow
  grid-column: col-start  3 / span 5
  // need to set min width
  grid-row: 1 / 2
  height: 50px
  position: relative
  z-index: 999
  top: 125px
  font-size: 12px
  text-transform: uppercase
  
  ul
    display: flex
    flex-direction: row
    // had to add this
    list-style-type: none
    margin: 0
    padding: 0
    li
      // display: inline-block was breaking the search to go left
      line-height: 50px
      padding: 0 10px
      &:first-child
        padding-left: 20px
      &.last
        background-color: $white
        width: 50px
        text-align: center
        margin-left: auto
      
      a
        color: $black
        text-decoration: none  
//media (max-width: 500px)
  
.get-quote
  grid-column: col-start  10 / span 11
  grid-row: 1 / 2
  display: block